body {
  font-family: "Sofia";
  font-size: 22px;
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: "Sofia";
}

.sansserif 
  {
  font-family: Arial, Helvetica, sans-serif;
  }

h2 {
	font-family: 'Lobster Two', cursive;
    font-family: 'Overlock', cursive;
}

input[type=text], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button, select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}